target/
build/
bin/
Thumbs.db
.DS_Store
.project
.classpath
.springBeans
ivy*.xml
*.class
.settings/
.gradle/
**/ivy*.xml
**/.gradle
**/.classpath
**/.project
**/.settings
**/.springBeans
**/classes
**/build
**/bin
**/target
**/MANIFEST.MF